---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$primary-color:     #2196F3;
$accent-color:      #FFEB3B;
$grey-color:        #828282;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout",
        "syntax-highlighting"
;


.mdl-card {
  width: 320px;
  >.mdl-card__title {
    color: #fff;
    height: 140px;
  }

  &:nth-child(4n+1) {
    >.mdl-card__title {
      background-color: #46B6AC;
    }
  }
  &:nth-child(4n+2) {
    >.mdl-card__title {
      background-color: #2196F3;
    }
  }
  &:nth-child(4n+3) {
    >.mdl-card__title {
      background-color: #9C27B0;
    }
  }
  &:nth-child(4n) {
    >.mdl-card__title {
      background-color: #8BC34A;
    }
  }
}
