---
layout: page
title: Categories
icon: folder
---

<div class="mdl-grid categories">
  {% for category in site.categories %}
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
      <div class="mdl-card__title mdl-card--expand">
        <h2 id="{{ category[0] | replace:' ','-' }}" class="mdl-card__title-text">{{ category[0] | capitalize }}</h2>
      </div>

      <div class="mdl-card__menu">
        <i class="material-icons mdl-badge" data-badge="{{ category[1].size }}">bookmark_border</i>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        {% assign pages_list = category[1] %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if group == null or group == node.group %}
              <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="{{ node.url | replace_first: '/', '' | prepend: site.baseurl | prepend: site.url }}">
                <span class="button-header">
                  {{node.title}}
                </span>
                <span class="button-subheader">
                  {{ node.date | date: "%B %d, %Y" }}
                </span>
              </a>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
      </div>
    </div>
  {% endfor %}
</div>
