@import "base";

.paper-content {
  border-radius: 2px;
  margin: 0 auto;
  width: calc(100% - 20px);

  @include mobile {
    width: calc(100% - 10px);
    padding: 40px 10px 20px;
    margin-bottom: 10px;
  }
  @include tablet {
    padding: 10px 56px;
    margin-bottom: 20px;
  }
  @include desktop {
    margin-top: 10px;
    padding: 10px 56px;
    margin-bottom: 30px;
    max-width: 1260px;
  }
}

.mdl-mega-footer {
  .mdl-mega-footer__top-section,
  .mdl-mega-footer__middle-section,
  .mdl-mega-footer__bottom-section {
    margin: 0 auto;
    width: calc(100% - 20px);
    @include mobile {
      width: calc(100% - 10px);
    }
    @include desktop {
      max-width: 1260px;
    }
  }
}

.mdl-layout__drawer-button {
  @include desktop {
    display: none;
  }
}


.paper-drawer {
  border: none;
  .paper-drawer-header {
      padding: 16px;
      height: 151px;

      img.avatar {
        border-radius: 50%;
      }

      .paper-drawer-title {
        display: -webkit-box;
        padding: 20px 0;
        font-size: 19px;
        font-weight: 500;
      }
  }

  .paper-navigation {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    .mdl-navigation__link {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: 500;

      .material-icons {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.56);
        margin-right: 32px;
      }
    }
  }
}

.paper-home {
  .post {
    margin-bottom: 50px;
  }
}

.post {
  header, .header {
    h1 {
      margin-bottom: 0;
      font-size: 34px;
    }
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }

  .categories, .tags {
    color: $grey_color;
    margin-bottom: 10px;

    ul {
      display: inline-block;
      list-style-type: none;
      padding: 0;

      li {
        display: inline-block;
        padding-right: 3px;

        a {
          color: $grey_color;
          text-decoration: none;
        }
      }
    }
  }

  .author {
    .author-avatar {
      text-align: center;
      img {
        border-radius: 50%;
      }
    }

    .author-name {
      margin-top: 10px;
    }
  }
}


.paper-layout-header {
  overflow: visible;

  .paper-avatar {
    position: relative;
    left: 50%;
    top: 20px;
    margin-left: -37.5px;
    transition: all 0.2s linear;
    img {
      border-radius: 50%;
    }
  }
  &.is-compact .paper-avatar {
    top: 10px;
    transform: scale(0) translate(0, 100px);
    -webkit-transform: scale(0) translate(0, 100px);
  }
}


// mdl menu hacks
.mdl-menu__container {
  width: 240px;
  right: 20px;
  top: 54px;

  &.is-visible {
    .mdl-menu__outline {
      //width: 250px !important;
      z-index: -1 !important;
      padding-bottom: 20px;
    }

    ul {
      padding-left: 0;
    }
  }
}


.categories {
  .mdl-card {
    width: 320px;
    >.mdl-card__title {
      color: #fff;
      height: 140px;
    }

    .mdl-card__menu .material-icons {
      width: 16px;
    }

    .mdl-card__actions {
      .mdl-button {
        line-height: 27px;
        text-transform: none;
        width: 100%;
        text-align: left;
        height: auto;

        .button-header {
          display: block;
          padding-top: 5px;
        }

        .button-subheader {
            display: block;
            font-size: 12px;
            font-weight: 300;
            text-align: right;
            padding-right: 15px;
            color: $grey_color;
        }
      }
    }

    &:nth-child(4n+1) {
      >.mdl-card__title {
        background-color: #46B6AC;
      }
    }
    &:nth-child(4n+2) {
      >.mdl-card__title {
        background-color: #2196F3;
      }
    }
    &:nth-child(4n+3) {
      >.mdl-card__title {
        background-color: #EC407A;
      }
    }
    &:nth-child(4n) {
      >.mdl-card__title {
        background-color: #8BC34A;
      }
    }
  }
}

.mdl-layout__header-row {
  @include desktop {
    padding-left: 40px;
  }
}
